<div class="post">
  <section class="col-md-6 post-content">
    <p><%= idea.content %></p>


    <section class="share-container pull-left">
      <%= social_share request.base_url+'/ideas/ver/'+idea.id.to_s,'Para mí, esto es la Libertad de Expresión #ParaTiQueEs' %>
    </section>

    <section class="like-container pull-right">
      <span class="counter" id="counter-plus-<%= idea.id %>"><%= idea.votePlus %></span>

      <%= link_to vote_path(idea.id), method: :post,  remote: true, id:"vote-up-#{idea.id}"  do %>
        <i class="fa fa-lg fa-thumbs-up vote vote-up" aria-hidden="true"></i>
      <% end %>

      <span class="counter" id="counter-less-<%= idea.id %>"><%= idea.voteLess %></span>

      <%= link_to vote_path(idea.id), method: :delete,  remote: true ,id:"vote-down-#{idea.id}" do %>
        <i class="fa fa-lg fa-thumbs-down vote vote-down" aria-hidden="true"></i>
      <% end %>

    </section>
    <div class="clearfix"></div>

  </section>
</div>
