<article class="index-ideas" style="background-image:url('<%= asset_url 'bg-pattern.png' %>')">
  <section class="container">
  <section class="row headerRow">
    <section class="col-md-2">
      <object data="<%= asset_url 'logo-2.svg' %>" type="image/svg+xml" style="width:140px"></object>
    </section>

    <section class="col-md-8 text-center">
      <h4 style="margin: 40px 0 15px 0;">Estas son las respuestas de otras personas</h4>
      <h2 style="margin: 0 0 18px 0">tú eres el juez, ¿cuáles validas?</h2>
      <div class="clearfix"></div>
    </section>
  </section>


  <section class="row text-center">

    <div id="sticky-anchor"></div>
    <a href="<%= la_verdad_path %>"><div id="sticky">¿Y ahora qué?</div></a>
  </section>

  <div id="posts">
    <section class="text-right"><a  style="text-align:right !important" href="<%= mas_votadas_path %>">Random</a>
    <section class="text-right"><a  style="text-align:right !important" href="<%= idea_path %>">Mas votadas</a>
</section>
    <%= render @ideas %>
  </div>

  <%= will_paginate @ideas %>
  </section>
</article>

<script>
$(document).ready(function() {
if ($('.pagination').length) {
  $(window).scroll(function() {
    var url = $('.pagination .next_page').attr('href');
    if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
      $('.pagination').text("Please Wait...");
      return $.getScript(url);
    }
  });
  return $(window).scroll();
}
});
</script>


<script>
function sticky_relocate() {
  var window_top = $(window).scrollTop();
  var div_top = $('#sticky-anchor').offset().top;
  if (window_top > div_top) {
      $('#sticky').addClass('stick');
      $('#sticky-anchor').height($('#sticky').outerHeight());
  } else {
      $('#sticky').removeClass('stick');
      $('#sticky-anchor').height(0);
  }
}

$(function() {
  $(window).scroll(sticky_relocate);
  sticky_relocate();
});

var dir = 1;
var MIN_TOP = 200;
var MAX_TOP = 350;

function autoscroll() {
  var window_top = $(window).scrollTop() + dir;
  if (window_top >= MAX_TOP) {
      window_top = MAX_TOP;
      dir = -1;
  } else if (window_top <= MIN_TOP) {
      window_top = MIN_TOP;
      dir = 1;
  }
  $(window).scrollTop(window_top);
  window.setTimeout(autoscroll, 100);
}
</script>
