<section class="col-md-5 visible-md-block visible-lg-block" style="background-image:url('<%= asset_url "speaker.jpg" %>'); background-size:cover; height:100%;">
</section>

<section class="col-md-7 la_verdad index-ideas" style="background-image:url('<%= asset_url 'bg-pattern.png' %>'); height:100%;">
  <br><object data="<%= asset_url 'logo-2.svg' %>" type="image/svg+xml" width="200px"></object>

    <h5>Hoy hiciste uso de la Libertad de expresión, participando y comparando tu opinión con la de otros, estando de acuerdo, o no, empatizando o discerniendo con ellos. </h5>
    <h3>Y entonces, ¿qué es la Libertad de Expresión?</h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Según la Declaración Universal de los Derechos Humanos, en su artículo 19:
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        "Todo individuo tiene derecho a la libertad de opinión y de expresión; este derecho incluye el de no ser molestado a causa de sus opiniones, el de investigar y recibir informaciones y opiniones, y el de difundirlas, sin limitación de fronteras, por cualquier medio de expresión."
        <a href="http://www.un.org/es/documents/udhr/">Leer más </a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Según la Comisión Interamericana de Derechos Humanos:
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        “..la consolidación y desarrollo de la democracia depende de la existencia de libertad de expresión… ” ya que “el derecho a la libertad de expresión es esencial para el desarrollo del conocimiento y del entendimiento entre los pueblos, que conducirá a una verdadera comprensión y cooperación entre las naciones del hemisferio… cuando se obstaculiza el libre debate de ideas y opiniones se limita la libertad de expresión y el efectivo desarrollo del proceso democrático.”
        <a href="https://www.cidh.oas.org/basicos/basicos13.htm">Leer más </a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Según article19.org:
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        “El derecho a la libertad de expresión no sólo se aplica a las informaciones e ideas generalmente consideradas útiles o correctas. También se aplica a cualquier tipo de hecho u opinión que puede ser comunicado. El Comité de Derechos Humanos de la ONU ha enfatizado que la ‘expresión’ es amplia y no está limitada a expresión política, cultural o artística. También incluye expresiones controversiales, falsas e incluso chocantes. El mero hecho que una idea sea desagradable o sea considerada incorrecta no justifica su censura.”
        <a href="https://www.article19.org/pages/es/key-aspects.html">Leer Más</a>
      </div>
    </div>
  </div>
</div>

    <h3>No te quedes callado. Comparte:</h3>

    <section class="social_share">
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://paratiquees.mx&title=¿Para ti que es la libertad de expresión?"><i class="fa fa-facebook-square fa-3x"></i></a>
      <a target="_blank" href="https://www.twitter.com/intent/tweet?url=http://paratiquees.mx&text=¿Para ti que es la libertad de expresión?"><i class="fa fa-twitter-square fa-3x"></i></a>
    </section>

    <h6>La Libertad de Expresión puede cambiar una sociedad,úsala con responsabilidad. </h6>

</section>
