<article class="main-question text-center bg" style="background-image:url('<%= asset_url "bg.jpg" %>')">

  <section style="margin-bottom:65px">
    <object type="image/svg+xml" data="<%= asset_url "logo-1.svg" %>" style="width:300px;margin-top:70px;">Your browser does not support SVG</object>

    <h2>Escribe tu definición y ve qué sucede</h2>

      <section class="col-md-6 col-md-push-3">
        <%= form_for @idea do |f| %>
          <%= f.text_area :content,  class:"form-control space20px" ,rows: "4" %>
          <%= f.hidden_field :theme_id , value: @theme.id.to_s %>
          <%= f.submit "Enviar Respuesta", class: "btn new-btn btn-amarillo "%>
        <% end %>
      </section>
      <div class="clearfix"></div>
    </section>

    <%= render 'shared/footer' %>

</article>
