<article class="index-ideas" style="height: 100%;background-image:url('<%= asset_url 'bg-pattern.png' %>')">
  <section class="container">
  <section class="row headerRow">
    <section class="col-md-2">
    </section>

    <section class="col-md-8 text-center"><br>
      <object data="<%= asset_url 'logo-2.svg' %>" type="image/svg+xml" style="width:250px"></object>
      <h2>Esto es lo que alguién más opina, ¿Estás de acuerdo?</h2><br>
      <dic class="clearfix"></dic>
    </section>
  </section>

  <div id="posts">
    <div class="post">
      <section class="col-md-6 col-md-push-3 post-content">
        <p><%= @idea.content %></p>


        <section class="share-container pull-left">
          <%= social_share request.original_url+'/ideas/ver/'+@idea.id.to_s,'Para mí, esto es la Libertad de Expresión #ParaTiQueEs'  %>
        </section>

        <section class="like-container pull-right">
          <span class="counter" id="counter-plus-<%= @idea.id %>"><%= @idea.votePlus %></span>

          <%= link_to vote_path(@idea.id), method: :post,  remote: true, id:"vote-up-#{@idea.id}"  do %>
            <i class="fa fa-lg fa-thumbs-up vote vote-up" aria-hidden="true"></i>
          <% end %>

          <span class="counter" id="counter-less-<%= @idea.id %>"><%= @idea.voteLess %></span>

          <%= link_to vote_path(@idea.id), method: :delete,  remote: true ,id:"vote-down-#{@idea.id}" do %>
            <i class="fa fa-lg fa-thumbs-down vote vote-down" aria-hidden="true"></i>
          <% end %>

        </section>

      </section>
    </div>

  </div>

  <div class="clearfix"></div>
  <section class="col-md-12 text-center"><br>
    <a href="<%= new_idea_path(@idea.theme.slug) %>" class="btn btn-verde">¿Y PARA TI QUÉ ES? OPINA</a>
  </section>
  </section>
</article>
