<section class="container">
  <section class="row">
<footer class="col-md-6 col-md-push-3" style="margin:3px 15px">
      <section class="pull-left">
        <p class="social_share">Compartir: <%= social_share 'http://paratiquees.mx','Día Mundial de la Libertad de Expresión, ¿sabes exactamente de qué se trata?' %></p>
      </section>

      <section class="pull-right">
        <object style="width:32px" data="<%= asset_url 'logo-pachuco-blanco.svg' %>" type="image/svg+xml"></object>
      </section>
</footer>
</section>

</section>
