<div class="jumbotron home text-center" style="background-image:url('<%= asset_url "bg-home.jpg" %>')">
    <div class="container">
        <h1>Encuestas relevantes para gente relevante</h1>
        <h3>Ultimas encuestas </h3>
        <% @temas.each do |tema| %>
          <%= link_to tema.title, "ideas/#{tema.slug}/proponer" %>
        <% end %>
    </div>
</div>
