/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min

 */



html,body{
  min-height: 100%;
  height: 100%;
  font-family: 'Titillium Web', sans-serif !important;
}

.panel{
  background-color: #ddd;
}

.bg{
  min-height: 100%;
  background-size: cover;
}

.space20px{
  margin-bottom: 20px !important;
}

.new-btn{
  border-radius: 30px !important;
  text-transform: uppercase;
  border: 5px solid white !important;
  padding: 10px 15px !important;
  font-weight: bold;
}

.jumbotron.home {
   position: relative;
   background-size: cover;
   color:white;
   width: 100%;
   height: 100%;
   background-size: cover;
   overflow: hidden;
   margin-bottom: 0;
}

.jumbotron.home container{
 position: relative;
 top:100px;
}

.social_share i{
  color: white;
  margin: 5px;
}

.share-container  i{
  margin: 5px 10px;
  color: black;
}

.voted{
  background-color: gray !important;
}

.btn-amarillo{
  color:black;
  background-color: #ffd200;
  font-weight: bold !important;
}

.btn-verde{
  background-color: #0bea0b;
  color: black;
  padding: 15px 10px;
  font-size:18px !important;
  font-weight: bold !important;
  border: 3px solid white !important;
  border-radius: 12px !important;
}

.vote-up{
  background-color: #0bea0b;
}

.vote-down{
  background-color: #f71212;

}



.vote{
  color: black;
  padding: 5px;
  border-radius: 100%;
  border: 3px solid white;
}

.counter{
  font-size: 18px;
  font-weight: bold;
  margin:0 3px;
}

/* la verdad  */

.la_verdad{
  min-height: 100%;
}
/*main */

.main-question {
  color:white;
}

/*footer*/
footer{
}

/* index ideas */
.headerRow{
  margin-top: 40px;
  height: 150px;
}

.index-ideas{
  background-repeat: repeat;
}

.post-content{
  margin: 15px 0;
}

.post-content > p{
  background-color: white;
  padding: 10px;
  box-shadow: 8px -8px 0px rgba(0,0,0,0.2);
}

.pagination{
  display: block;
}

.pagination{
  visibility: hidden;
}

#sticky {
    position: fixed;
    bottom: -90px;
    z-index:9999;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    line-height: 150px;
    font-weight: bold;
    width: 200px;
    height: 200px;
    background-color: #0bea0b;
    font-size: 24px;
    color: black;
    border:7px solid white;
}

#sticky.stick {
    margin-top: 0 !important;
    bottom: 0;
    z-index: 10000;
    bottom: -90px;
}

.panel-group .panel+.panel,.panel-default>.panel-heading,.panel-group .panel{
  border-radius: 20px !important;
}
/* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

      html,body{
        font-family: 'Titillium Web', sans-serif !important;
        height: auto;
        min-height: 100%;
      }

      .headerRow{
        height: auto;
        margin-bottom: 0 !important;
      }

      .la_verdad{
        height: 140%;
      }

      .headerRow{
        margin-bottom: 32%;
      }

      .headerRow object{
        display: block;
        margin: 0 auto;
      }
      .headerRow h4{
        margin:20px 0;
      }
    }
