<!DOCTYPE html>
<html>
  <head>
    <title>Opinion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type"               content="article" />
  <meta property="og:image"              content="http://s32.postimg.org/p2gguklk5/ptqes.jpg" />

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
  </body>
</html>
